body {
    font-family: "ＭＳ 明朝",
        "YuMincho",
        "Hiragino Mincho Pro", serif, sans-serif, monospace;
    text-align: center;
}

.col-sm-12 {
    padding: 0;
}

i {
    display: block;
}

.menu_contents .icon {
    width: 1.6rem;
    height: 1.6rem;
}

.top_image {
    margin-top: 3.5rem;
    position: relative;
    width: 100%;
    padding: 0;
    background-color: black;
}

.top_image_photo {
    width: 100%;
    opacity: 0.6;
}

.top_image_content {
    position: absolute;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding: 3rem;
    color: white;
}

.top_image_content h1 {
    font-size: 2rem;
}

.top_image_content p {
    display: none;
}

.top_image_content h1 {
    font-size: 1.6rem;
}

.icon {
    width: 2rem;
    height: 2rem;
}

.caption {
    margin-top: 2rem;
}

.caption h3 {
    font-size: 1.6rem;
    margin: 0;
}

.menu_contents {
    margin-top: 2rem;
    padding: 1rem;
}

.menu_contents h2 {
    font-size: 1.6rem;
    display: inline;
    line-height: 1.4rem;
    vertical-align: bottom;
}

.menu_contents p {
    margin-top: 1rem;
    padding: 1rem;
}

.gray_wrapper {
    background-color: #E4E7EB;
    width: 100%;
}

#styles {
    /* background-color: #E4E7EB; */
    padding-top: 1rem;
}

.style_type {
    display: flex;
    padding: 0;
    justify-content: space-around;
}

.style_type li {
    list-style: none;
    margin: 3px;
}

.style_type {
    /* background-color: #E4E7EB; */
    padding: 1rem 0;
    margin: 0;
}

.style_imgs {
    padding-bottom: 3rem;
}

.style_type_photo img {
    width: 90%;
}

.menu_list {
    margin: 1rem 0;
    display: flex;
    justify-content: center;
    text-align: left;
}

.order {
    width: 50%;
    padding-left: 15%;
}

._price {
    width: 50%;
    padding-left: 15%;
}

.stylist_img {
    margin-top: 2rem;
}

.stylist_img img {
    width: 50%;
}

.stylist_info {
    margin-top: 1rem;
    padding: 1rem;
}

.stylist_info p {
    padding: 1rem;
}

.sns_icons {
    display: flex;
    justify-content: center;
}

.sns_icons div {
    margin: .5rem;
}

.sns_ajax {
    width: 320px;
    height: 568px;
    max-width: 320px;
    max-height: 568px;
    background-color: aqua;
    margin: 1rem auto;
}

.accsess_infomation {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    text-align: left;
    margin-top: 2rem;
}

.access_caption {
    width: 20%;
}

.infomation {
    width: 40%;
}

.google_map_ajax{
    width: 320px;
    height: 320px;
    max-width: 320px;
    max-height: 320px;
    background-color: aqua;
    margin: 0 auto;
    margin-top: 3rem;
}

.footer_nav {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 0;
}

.footer_nav li {
    width: 20%;
    list-style: none;
}

.footer_nav li a{
    color:white;
}



.dark_gray_wrpper{
    margin: 0 auto;
    background-color: #707070;
}

.copyright{
    color:white;
    font-size: 12px;
}